<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Library ITEA Advance</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="stylesheet" type="text/css" href="../static/style/style.css" media="all">
	</head>
	<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="headerContent">
					<div class="left"><h1><a href="/">LIA</a></h1><p>Library ITEA Advance by SHYIAN OLEKSII and DEMENTIEV EGOR</p></div>
					<div class="right">
					</div>
				</div>
			</div>
			<div class="slider">
				<div class="itemSlider">
					<div class="bgSlide"><img src="../static/images/bg-slide.jpg"></div>
					<div class="descSlide">
						<h1>Library ITEA Advance</h1>
						<p>Flask demo</p>
					</div>
				</div>
			</div>

			<div class="nav">

				{% if user %}
					<label class="userInfo">Hello {{ user.name }}</label>
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="/sign_out">Sign out</a></li>
					</ul>
				{% else %}
					<label class="userInfo">Hello Guest</label>
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="login">Sign In</a></li>
						<li><a href="registration">Sign Up</a></li>
					</ul>
				{% endif %}

			</div>

			<div class="main">

				<div class="leftCol">
					<form>
						<h2>General menu</h2>
						<ul class="general_menu">
							<li><a href="books">All books</a></li>
							<li><a href="my_profile">Your profile</a></li>
							{% if user.is_admin %}
								<li><a href="add_book">Add book</a></li>
								<li><a href="delete_book">Delete book</a></li>
								<li><a href="take_book">Take book</a></li>
								<li><a href="return_book">Return book</a></li>
								<li><a href="add_admin">Add Admin</a></li>
								<li><a href="delete_admin">Delete Admin</a></li>
							{% endif %}
						</ul>
					</form>
				</div>

				{% block content %}{% endblock %}

			</div>

			<div class="footer">
				<div class="footerContent">
					<h1>Copyright © 2022 FRONTEND - SHYIAN OLEKSII BACKEND - DEMENTIEV EGOR</h1>
				</div>
			</div>

		</div>
	</body>
</html>