<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Library ITEA Advance</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="../static/style/style.css" media="all">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Libary ITEA</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="books">All books</a></li>
					<li><a href="my_profile">Your profile</a></li>
					{% if user.is_admin %}
						<li><a href="add_book">Add book</a></li>
						<li><a href="delete_book">Delete book</a></li>
						<li><a href="take_book">Take book</a></li>
						<li><a href="return_book">Return book</a></li>
						<li><a href="add_admin">Add Admin</a></li>
						<li><a href="delete_admin">Delete Admin</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="bgSlide"><img class="bgSlideImg" src="../static/images/bg-slide.jpg"></div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<div class="navbar-header">
				{% if user %}
					<a href="my_profile" class="navbar-brand">Hello {{ user.name }}</a>
				{% else %}
					<a href="login" class="navbar-brand">Hello Guest</a>
				{% endif %}
			</div>
			<div>
				{% if user %}
					<ul class="nav navbar-nav">
						<li class="nav-item"><a href="/">Home</a></li>
						<li class="nav-item"><a href="/sign_out">Sign out</a></li>
					</ul>
				{% else %}
					<ul class="nav navbar-nav">
						<li class="nav-item"><a href="/">Home</a></li>
						<li class="nav-item"><a href="login">Sign In</a></li>
						<li class="nav-item"><a href="registration">Sign Up</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
    <div class="main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>