{% extends "base.html" %}
{% block content %}
<div class="rightCol">
    {% if books %}
        <h1>All books in library</h1>
        <ul>
            <li>
                <form method="post">
                    <input type="text" name="search" id="search" aria-valuetext="Введите какую  книгу хотите найти">
                    <select name="field">
                        <option value="id">ID</option>
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="year">Year</option>
                    </select>
                    <button type="submit">Search</button>
                </form>
            </li>
        </ul>
        <table>
            <thead>
            <tr>
                <th><a class="sort_field" href="?sort=id&reverse={{reverse}}"><center>ID</center></a></th>
                <th><a class="sort_field" href="?sort=title&reverse={{reverse}}"><center>Title</center></a></th>
                <th><a class="sort_field" href="?sort=author&reverse={{reverse}}"><center>Author</center></a></th>
                <th><a class="sort_field" href="?sort=year&reverse={{reverse}}"><center>Year</center></a></th>
                <th><center>Reader ID</center></th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{book.ID}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.year}}</td>
                    <td>{{book.reader_id}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <ul>
        <li><h1>No books yet</h1></li>
        <li>
            <form method="post">
                <input type="text" name="search" id="search" aria-valuetext="Введите какую  книгу хотите найти">
                <select name="field">
                    <option value="id">ID</option>
                    <option value="title">Title</option>
                    <option value="author">Author</option>
                    <option value="year">Year</option>
                </select>
                <button type="submit">Search</button>
            </form>
        </li>
    </ul>
    {% endif %}
</div>
{% endblock %}