{% extends "base.html" %}
{% block content %}
<div class="rightCol">
    {% if message %}
    <h2>{{message}}</h2>
    <br><br>
    {% endif %}

    {% if books %}
        <h1>Select the book to delete</h1>
        <form method="post">
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th><a class="sort_field" href="?sort=id&reverse={{reverse}}">ID</a></th>
                    <th><a class="sort_field" href="?sort=title&reverse={{reverse}}">Title</a></th>
                    <th><a class="sort_field" href="?sort=author&reverse={{reverse}}">Author</a></th>
                    <th><a class="sort_field" href="?sort=year&reverse={{reverse}}">Year</a></th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td><input type="checkbox" name="{{book.ID}}" value=""></td>
                        <td>{{book.ID}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.year}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <center>
                <button type="submit" class="minWidth">Delete books</button>
                <button type="reset" class="minWidth">Reset</button>
            </center>
        </form>
    {% else %}
    <h1>No books yet</h1>
    {% endif %}
</div>
{% endblock %}
