{% extends "base.html" %}
{% block content %}
<div class="rightCol">
	<h1>What We Do…</h1>
	<p>Не поймите нас неправильно, но чтение – это удел интровертов. Экстраверты тоже могут быть книголюбами, но они более открыты для внешнего мира, их диалог с окружающими ярок и насыщен. Экстраверты с удовольствием общаются, ходят на вечеринки, путешествуют, ведут дневники с вклейками из старых фото и смешными записями, держатся за руки с возлюбленными, много смотрят на небо, на море, им нравятся истории с хорошим концом. Книги пишут те, кому важен процесс самопознания. А читают запоем – интроверты, которым книги помогают ярче ощущать внешний мир. Чтение – некий мост из мира идеального в мир реальный.</p>
	<p>С помощью книг мы стараемся избавиться от чувства одиночества: во-первых, приятно знать, что мы не одни такие, книжные пьяницы, а во-вторых,</p>
	<ul>
		<li>никто не понимает нас так, как понимает Сартр; </li>
		<li>никто не научит нас отваге, кроме Хемингуэя; </li>
		<li>никто не пишет нашей любви так, как Ремарк;</li>
		<li>никто не знает нас лучше Борхеса. </li>
	</ul>
	<p>И так до бесконечности. Заберите у нас книги, и мы начинаем читать объявления в метро. Еще вот этот роман, еще одна страница рассказа – ну и что, что уже утро? Зато теперь наш мир наполнен нужными нам чувствами и эмоциями и окрашен во все цвета волшебных пони.</p>

	<ul class="img">
		<li><a href="/"><img src="../static/images/img1.png"></a></li>
		<li><a href="/"><img src="../static/images/img2.png"></a></li>
		<li><a href="/"><img src="../static/images/img3.png"></a></li>
	</ul>
	<h1>Dictum</h1>
	<div class="row">
		<div class="span">
			<h4>Несколько афоризмов и высказываний, напоминающих, почему мы так любим читать:</h4>
			<ul>
				<li>Литература — это самый приятный способ игнорировать жизнь. – Фернандо Пессоа;</li>
				<li>Книга – устройство, способное разжечь воображение. – Алан Беннетт;</li>
				<li>Книга – это мечта, которую вы держите в руках. – Нил Гейман;</li>
				<li>Оставь мне мои книги. Это все, что у меня есть. – Франц Кафка;</li>
				<li>Хорошая книга – бесконечна. – Д. Р. Камминг;</li>
				<li>Хорошая книга – драгоценный источник жизненной силы духа. – Джон Мильтон;</li>
				<li>Приобретая привычку к чтению, вы строите для себя убежище практически от всех страданий жизни. – Сомерсет Моэм;</li>
				<li>Писатель только начинает книгу. Читатель заканчивает ее. – Сэмюель Джонсон;</li>
				<li>Книги – это уникальная портативная магия. – Стивен Кинг;</li>
				<li>Книги – это и самолет, и поезд, и дорога. Они и пункт назначения, и путешествие. Они – это дом. – Анна Квиндлен;</li>
				<li>Книги – маяки, возведенные в великом море времени. – Е. П. Уиппл;</li>
				<li>Книги – самые тихие и самые постоянные друзья, они самые доступные и мудрейшие советники, и самые терпеливые учителя. – Чарльз Уильям Элиот;</li>
				<li>Дом без книг, как комната без окон. – Генрих Манн;</li>
				<li>Читая, вы проживаете несколько жизней. – Уильям Стайрон;</li>
				<li>Комната без книг подобна телу без души. – Марк Туллий Цицерон;</li>
				<li>Наш разум нуждается в книгах, как меч – в точильном камне, чтобы не затупиться. – Тирион Ланнистер (Джордж Мартин);</li>
				<li>Читатель проживает тысячу жизней до того, как умрет. Тот, кто никогда не читает, — только одну.  Джордж Мартин;</li>
				<li>Книги стали моим пропуском в личную свободу. – Опра Уинфри;</li>
				<li>Я не верю в ту магию, о которой говорится в моих книгах. Но я верю, что нечто по-настоящему волшебное может произойти, когда вы читаете хорошую книгу. – Джоан Роулинг;</li>
				<li>Дети становятся читателями на коленях своих родителей. – Эмили Бухвальд;</li>
			</ul>
		</div>
	</div>

	<script>
		document.cookie = "foo=bar;";
		if (!document.cookie)
		{
			alert("This website requires cookies to function properly");
		}
	</script>
</div>
{% endblock %}