{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if message %}
    <h2>{{message}}</h2>
    <br><br>
    {% endif %}

    {% if books %}
        <h1>All the books you borrowed from the library</h1>
        <form method="post">
             <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th><a class="sort_field" href="?sort=id">ID</a></th>
                        <th><a class="sort_field" href="?sort=title">Title</a></th>
                        <th><a class="sort_field" href="?sort=author">Author</a></th>
                        <th><a class="sort_field" href="?sort=year">Year</a></th>
                        <th>Reader</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                        <tr>
                            <td><input type="checkbox" name="{{book.ID}}"></td>
                            <td>{{book.ID}}</td>
                            <td>{{book.title}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.year}}</td>
                            <td>{{book.reader_id}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <center>
                <button type="submit" class="minWidth">Return books</button>
                <button type="reset" class="minWidth">Reset</button>
            </center>
        </form>
    {% else %}
    <h1>No books yet</h1>
    {% endif %}
</div>
{% endblock %}
